extends ../layout

block content
  .list-group
    each bin in bins
      a.list-group-item(href="/" + bin.hash)
        .pull-right
          small: i= bin.createdAt
          span &nbsp;
          if bin.visibility === "Public"
            span.label.label-pill.label-primary= bin.visibility
          else
            span.label.label-pill.label-default= bin.visibility
        div= bin.content

